<%= form_for(@task, url: '/user/' + params[:user_id] + '/new_task') do |f| %>
<% puts "hidden_field_tag with value of " + params[:tasklist_id] %>
<%= hidden_field_tag("tasklist_id", params[:tasklist_id]) %>
<% "finished writing hidden_field_tag" %>
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>

	<%= f.label :completed, class: "checkbox inline" do %>
		<%= f.check_box :completed %>
		<span>Completed Task</span>
	<% end %>

<%= f.submit "Add", class: "btn btn-primary" %>
<% end %>
