<div class = "row">
    <% @tasklists.each do |tasklist| %>
    <% @tasklist_id = tasklist.id %>
      <div class = "card card-cascade wider">
        <div class="view overlay hm-white-slight">
        </div>
        <div class = "card-body">
        <h2 class = "card-title text-center"><%= tasklist.title %></h2>
        <table>
          <% tasklist.tasks.each do |task| %>
          <tr class = "row">
          <td class="col-md-3">
          <h4 class = "card-text">
            <%= task.title %>
          </h4>
          </td>
          <td class="col-md-3">
          <h5 class = "card-text">
           <%= task.date %>
          </h5>
          </td>
          <td class="col-sm-5">
            <%= button_to "Done", completed_path(task.id), params: { tasklist_id: @tasklist_id, user_id: @user_id }, method: 'get', class: 'button tasklist-btn' %>
          </td>
          <td class="col-sm-5">
            <%= link_to "Delete", user_task_path(@user_id, task.id, tasklist_id: @tasklist_id), method: 'delete', :class => 'button tasklist-btn' %>
          </td>
          <td class="col-sm-3">
          <%= link_to "Edit", edit_user_task_path(@user_id, task.id, tasklist_id: @tasklist_id), method: 'get', :class => 'button tasklist-btn' %>
          </td>
        </tr>
        <% end %>
        </table>
        <div class = "row">
         <%= link_to "Delete", user_tasklist_path(@user_id, @tasklist_id), method: 'delete', :class => 'button tasklist-btn'%>
         <%= button_to "Add Task", modal_for_new_task_path(user_id: @user_id, tasklist_id: tasklist.id), method: 'get', remote: true, 'data-toggle' => 'modal', 'data-target' =>'#modal-center', 'data-backdrop' => '', class: 'button tasklist_btn add-task-btn btn-white' %>
        </div>
      </div>
    </div>
  <% end %>
</div>