<% provide(:title, "All tasks")%>
<body>
  <div class ="row">
  <%= link_to "Create New Tasklist", new_user_tasklist_path(params[:user_id]), method: 'get', class: 'button btn-white main-btn' %>
</div>
  <div class = "row">
    <% @tasklists.each do |tasklist| %>
    <%= hidden_field_tag("tasklist_id", tasklist.id) %>
    <div class = "col-sm-6">
      <div class = "card">
        <div class = "card-body">
        <h2 class = "card-title"><%= tasklist.title %></h2>
        <table>
          <% tasklist.tasks.each do |task| %>
          <tr>
          <p class = "card-text">
            <td class = "col-md-6">
            <%= task.title %>
          </td>
          <td class="col-md-3">
            <%= check_box_tag('task_ids[]', task.id) %>
          </td>
          <td class="col-md-1">
            <%= link_to "Delete", user_task_path(params[:user_id], task.id), method: 'delete', :class => 'button tasklist-btn' %>
          </td>
          <td class="col-md-1">
            <%= link_to "Edit", edit_user_task_path(params[:user_id], task.id), method: 'get', :class => 'button tasklist-btn' %>
          </td>
          </p>
        </tr>
          <% end %>
        </table>
          <div class = "row">
            <%= hidden_field_tag("user_id", params[:user_id]) %>
           <%= link_to "Delete", user_tasklist_path(params[:user_id], tasklist.id), method: 'delete', :class => 'button tasklist-btn'%>
           <%= link_to "Add Task", new_user_task_path(params[:user_id], tasklist_id: tasklist.id), method: 'get', :class => 'button tasklist-btn' %>
         </div>
        </div>
      </div>
      </div>
      <% end %>
    </div>

</body>